/* Discount */
.discount {
 padding: 0;
 min-height: 100vh;
}
.discount .flex {
 align-items: flex-start;
}
.discount .flex .animate {
  background-image: url(https://github.com/ElzeroWebSchool/HTML_And_CSS_Template_Three/blob/main/imgs/discount-background1.jpg?raw=true);
background-position: left;
background-size: 1000px;
position: relative;
 flex-basis:50%;
 text-align: center;
 z-index: -1;
 animation: change 10s ease-in-out infinite;
}
.discount .flex .animate::before {
position: absolute;
content: "";
width: 100%;
height: 100%;
background-color: $primary-color;
opacity: 0.9;
top: 0;
left: 0;
z-index: -1;
}
@keyframes change {
 0% {
   background: url(../images/discount-background1.jpg);
   background-position: left;
   background-size: 1000px;
 }
 25% {
   background: url(../images/discount-background2.jpg);
   background-position: left;
   background-size: 1000px;
 }
}
.discount .flex .animate h2 {
 color: #fff;
 font-size: 40px;
 word-spacing: -2px;
 letter-spacing: -2px;
 margin-top: 80px;
 margin-bottom: 30px;
}
.discount .flex .animate p {
 color: #fff;
 width: 60%;
 margin: 0 auto;
 margin-bottom: 30px;
 line-height: 1.7;
}
.discount .flex .animate .discount-image {
width: 300px;
height: 300px;
margin: 0 auto;
margin-bottom: 50px;
}
.discount .flex .form {
flex-basis: 50%;
 text-align: center;
}
.discount .flex .form h2 {
 font-size: 35px;
 letter-spacing: -1px;
 margin-top: 40px;
 margin-bottom: 25px;
}
.discount .form input {
  font-size: 13px;
 display: block;
 width: 300px;
 background-color: rgba(246, 246, 246, 0.7);
 padding: 15px;
 margin: 0 auto;
 margin-bottom: 20px;
 border-bottom: 1px solid rgb(221, 221, 221);
 outline: none;
}
.discount .form textarea {
 width: 300px;
 background-color: rgba(246, 246, 246, 0.7);
 padding: 20px;
 margin: 0 auto;
 margin-bottom: 20px;
 border-bottom: 1px solid rgb(221, 221, 221);
 outline: none;
}
.discount .form .btn {
 width: 300px;
 background-color: $primary-color;
 padding: 15px;
 margin-bottom: 20px;
}
.discount .form .btn a {
 text-decoration: none;
 color: #fff;
 font-size: 20px;
 font-weight: bold;
}
@media (max-width: 350px) {
  .discount .form input{
    width: 90%;
  }
  .discount .form textarea{
    width: 90%;
  }
  .discount .form .btn{
    width: 90%;
  }
}
@media (max-width: 991px) {
  .discount .flex {
    flex-direction: column;
   }
   .discount .flex .form {
    width : 100%;
   }
}
