/* header */
header {
 padding-top: 20px;
 padding-bottom: 20px;
}
header .logo a {
 display: inline-block;
 text-decoration: none;
 color: $primary-color;
 font-size: 25px;
 font-weight: bold;
 height: 30px;
}
header nav ul {
  position: relative;
  padding: 0;
  height: 30px;
}
header .container nav ul li {
 list-style: none;
 display: inline-block;
 padding: 0;
 height: 30px;
}
header nav ul li .border {
 text-decoration: none;
 font-size: 18px;
 padding-left: 30px;
 padding-right: 30px;
 color: $secondary-color;
 position: relative;
 z-index: 1;
}
@media (max-width: 767px) {
  header .container.flex {
    flex-direction: column;
  }
  header .logo a {
    margin-bottom: 20px;
  }
  header nav ul {
    position: relative;
  }
  header .container nav ul li {
    padding-bottom: 10px;
  }
  header nav ul li .border {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  header .navbar ul li .border::before {
    display: none;
  }
}
@media (max-width: 355px) {
  header nav ul li .border {
    font-size: 10px;
  }
}
header .navbar ul li .border:hover{
 color: $primary-color;
}
header .navbar ul li .border::before {
 content: "";
 position: absolute;
 width: 100%;
 height: 4px;
 background-color: $primary-color;
 top: -25px;
 left:0;
 transform: scaleX(0);
 transform-origin: left;
 transition: 0.3s linear transform;
}
header .navbar ul li .border:hover::before {
 transform: scaleX(1);
}
header .navbar ul li .border::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 64.75px;
  left: 0;
  top: -21px;
  background-color: rgba(245, 245, 245, 0.5);
  z-index: -1;
  display: none;
  transition: 0.3s linear transform;
}
header .navbar ul li .border:hover::after {
  display: block;
}

/* mega menu */
header .container nav ul .links .mega {
  position: absolute;
  background-color: #fff;
  top: calc(100% + 50px);
  right:0;
  opacity:0;
  z-index: -1;
  overflow: hidden;
  transition: 0.3s ease-in-out all;
}
header .container nav ul .links .mega .image {
  padding-bottom: 30px;
}
header .container nav ul .links:hover .mega {
  z-index: 100;
  opacity: 1;
  top: calc(100% + 22px);
  border-bottom: 2px solid $primary-color;
}
.mega .mega-box a {
  text-decoration: none;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-left: 20px;
  border-bottom: 1px solid #eee;
  color: $primary-color;
  font-weight: bold;
  transition: 0.3s linear;
}
.mega .mega-box a:hover {
  padding-left: 25px;
}
.mega .mega-box a i {
  display: inline-block;
   margin-right: 10px;
   font-size: 15px;
}
@media (max-width: 767px) {
  .mega .grid {
    grid-gap: 0;
  }
}
@media (max-width:991px) {
  .hidden-sm {
    display:none;
  }
}
@media (min-width: 992px) {
   .header .mega .grid {
    grid-template-columns: 2fr 1fr 1fr;
  }
}